.jumbotron {
    background-image: linear-gradient(rgba(0, 145, 255, 0.9), rgba(6, 139, 165, 0.9)),
    url("img/portland.jpeg") ;
    /* filter: grayscale(100%); */
    /* z-index: 2; */
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* opacity: 0.5; */
    /* background-color: rgba(255, 255, 255, 0.8); */

} 

.navbar .navbar-brand {
    color: rgba(255, 255, 255, 0.8);
}